/Harjoitukset/viikko2/Maksukortti/nbproject/private/
/Harjoitukset/viikko2/Maksukortti/build/
/Harjoitukset/viikko2/Unicafe/target/
/Harjoitukset/viikko2/Unicafe/nbproject/
Course_Project/GravitationalIntegrator/target/
Course_Project/GravitationalIntegrator/nbproject/
Course_Project/GravitationalIntegrator/nbactions.xml
